* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3{
    font-size: 36px;
    color:#494964;
    font-family: 'Poppins', sans-serif;

}

button {
    font-family: 'Poppins', sans-serif;
    color: #da70d6;
}

button:hover{
    background: #da70d6;
}

button a:visited {
    text-decoration: none;
}

button a:link {
    text-decoration: none;
    color: #494964;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;

}

.logo-container, .logo-container h4, .nav-links, .cart {
    display: flex;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

.logo-container{
    flex: 1;
}

.logo-container img {
    text-decoration: none;
    list-style-type: none;
}



nav {
    flex: 4;
    margin-left: 50px;
}

.nav-links{
    flex: 2;
    justify-content: space-around;
    list-style: none;
    margin-left: 10px;

}

.nav-link {
    color: #5f5f79;
    text-decoration: none;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;

    
}

.introduction {
    flex: 1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta{
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 170px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-resume{
    background: #c36cbb;
    color: #fff;
    width: 165px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none; 
    margin: 30px 0px 0px 30px;

}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cover img {
    height: 60vh;
    animation: drop 1.5s ease;
    
}

.down-arrow{
    display: flex;
}

.down-arrow a {
    flex: 1;
    align-items: center;
    text-align: center;
   
}

/*Beats */
.pads {
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: #8dcf4e;
}

.pad2 {
    background: #79d5d8;
}

.pad3 {
    background: #d87981;
}

.pad4{
    background: #b579d8;
}

.pad5{
    background: #c7d879;
}

.pad6{
    background: #8282d4;
}

/*
.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }

    50% {
        bottom: 50%;
        left: 50%;
    }

    100% {
        bottom: 0%;
        left: 80%;
    }
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
}

*/

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .laptop-select {
        width: 15%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 20%;
    }

    @keyframes drop {
        0% {
            opacity: 0;
            transform: translateY(-80px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

}

/*about page */

.about-section{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.about-section .about-text {
    margin-left: 300px;
    align-items: center;
    text-align: center;
}

.about-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.about-text p {
    align-items: center;

}

.projects-section{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 80px;
   
}

.projects {
    margin-top: 30px;
    margin-bottom: 100px;
}

.projects-text {
    flex: 2;
    
    margin-left: 100px;
}

.projects-text h1 {
    font-size: 36px;
}

.project1 img {
    flex: 2;
    display: flex;
    height: 40vh;
    margin-top: 50px;
    
}

.project1 h3 {
    margin-top: 20px;
}

.project1 p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cta-lsg {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 170px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;

}

.cta-read{
    background: #c36cbb;
    color: #fff;
    width: 165px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none; 
    margin: 30px 0px 0px 30px;
}

.comment-section{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.comment-section .comment-text {
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

.comment-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.comment-text p {
    align-items: center;

}

.comment-section-2{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.comment-section-2 .comment-text-2 {
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

.comment-text-2 h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.comment-text-2 p {
    align-items: center;

}

.cta-skills{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 170px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.skills-section {
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
}

.skills {
    margin-top: 30px;
    margin-bottom: 100px;
}

.skills-text{
    font-size: 24px;
}

.skills-text h1 {
    font-size: 36px;
}

.skills-image img {
    flex: 1;
    display: flex;
    height: 30vh;
    margin-top: 50px;
    
}

.skills h3 {
    margin-top: 30px;
}

.skills p {
    margin-top: 10px;
    margin-bottom: 20px;
}


.about-page-section{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
    background: lightblue;
}

.about-page-section .about-page-text {
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

.about-page-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.about-page-text p {
    align-items: center;

}

.about-page-details li {
    text-decoration: none;
    list-style: none;
    font-weight: 700;

}

.story-section{
    display: flex;
    width: 100%;
    min-height: 40vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.story {
    flex: 1;
}

.story-text {
    flex: 1;
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

.story-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.story-text p {
    flex: 1;
    margin-top: 30px;
    margin-left: 100px;
}

.cover{
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.cover img {
    height: 60vh;
    animation: drop 1.5s ease;
}

/*Portfolio page */

.portfolio-cover {
    flex: 1;
    display: flex;
    justify-content: center;
}

.portfolio-cover img {
    height: 50vh;
    animation: drop 1.5s ease;
    
}

.portfolio2-cover {
    flex: 1;
    display: flex;
    justify-content: center;
}

.portfolio2-cover img {
    height: 40vh;
    animation: drop 1.5s ease;
    
}

/*Footer */


footer .footer-section{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    background: lightblue;
}

footer .footer-section .footer-text {
    margin-left: 90px;
    align-items: center;
    text-align: center;
}

footer .footer-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

footer .footer-text p {
    align-items: center;

}

.up-arrow {
    margin-top: 50px;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-left: 150px;
}

.up-arrow i {
    color: #494964;
    text-decoration: none;
}

.going-up {
    display: flex;
}

.going-up a {
    flex: 1;
    align-items: center;
    align-content: center;
    color: #000;
}



