* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    font-size: 36px;
    color:#494964;
    font-family: 'Poppins', sans-serif;

}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;

}

.logo-container, .logo-container h4, .nav-links, .cart {
    display: flex;
}

.logo{
    font-weight: 400;
    margin: 5px;
}

.logo-container{
    flex: 1;
}

.logo-container img {
    text-decoration: none;
    list-style-type: none;
}



nav {
    flex: 4;
    margin-left: 50px;
}

.nav-links{
    flex: 2;
    justify-content: space-around;
    list-style: none;
    margin-left: 10px;

}

.nav-link {
    color: #5f5f79;
    text-decoration: none;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;

    
}

.introduction {
    flex: 1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta{
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-resume{
    background: #c36cbb;
    color: #fff;
    width: 165px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none; 
    margin: 30px 0px 0px 30px;

}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
}

.cover img {
    height: 60vh;
    animation: drop 1.5s ease;
    
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .laptop-select {
        width: 15%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 20%;
    }

    @keyframes drop {
        0% {
            opacity: 0;
            transform: translateY(-80px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

}



.about-section{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.about-section .about-text {
    margin-left: 300px;
    align-items: center;
    text-align: center;
}

.about-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.about-text p {
    align-items: center;

}

.projects-section{
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
   
}

.projects {
    margin-top: 30px;
    margin-bottom: 100px;
}

.projects-text {
    flex: 2;
    margin-top: 30px;
    margin-left: 100px;
}

.projects-text h1 {
    font-size: 36px;
}

.project1 img {
    flex: 2;
    display: flex;
    height: 40vh;
    margin-top: 50px;
    
}

.project1 h3 {
    margin-top: 30px;
}

.project1 p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cta-lsg {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;

}

.cta-read{
    background: #c36cbb;
    color: #fff;
    width: 165px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none; 
    margin: 30px 0px 0px 30px;
}

.comment-section{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.comment-section .comment-text {
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

.comment-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.comment-text p {
    align-items: center;

}

.comment-section-2{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.comment-section-2 .comment-text-2 {
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

.comment-text-2 h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.comment-text-2 p {
    align-items: center;

}

.cta-skills{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.skills-section {
    display: flex;
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;
}

.skills {
    margin-top: 30px;
    margin-bottom: 100px;
}

.skills-text{
    font-size: 24px;
}

.skills-text h1 {
    font-size: 36px;
}

.skills-image img {
    flex: 1;
    display: flex;
    height: 30vh;
    margin-top: 50px;
    
}

.skills h3 {
    margin-top: 30px;
}

.skills p {
    margin-top: 10px;
    margin-bottom: 20px;
}


.about-page-section{
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    background: lightblue;
}

.about-page-section .about-page-text {
    margin-left: 300px;
    align-items: center;
    text-align: center;
}

.about-page-text h1{
    margin-bottom: 10px;
    font-size: 36px;
}

.about-page-text p {
    align-items: center;

}